<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 配置时需要和业务接口保持一致 -->
<mapper namespace="com.jt.manage.mapper.ItemMapper">
	
	<!-- 查询商品记录总数 -->
	<select id="findCount" resultType="int">
		select count(*) from tb_item
	</select>
	
	<!-- 根据分页实现商品信息查询 -->
	<select id="findItemByPage" resultType="Item">
		select * from tb_item order by created desc limit #{start},#{rows}
	</select>
	
	<!-- 更新商品状态 -->
	<update id="updateStatus">
		update tb_item set status = #{status},updated=now() where id in(
		<foreach collection="ids" item="id" separator=",">
			#{id}
		</foreach>
		)
	</update>
	
</mapper>