<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 1.Spring整合Mybatis -->
	<bean class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 1.1添加数据源 -->
		<property name="dataSource" ref="dataSource"/>
		
		<!-- 1.2加载mybatis配置文件 Resource configLocation; -->
		<property name="configLocation" value="classpath:/mybatis/mybatis-config.xml"/>
		
		<!-- 1.3添加映射文件 Resource[] mapperLocations; -->
		<property name="mapperLocations" value="classpath:/mybatis/mapper/*.xml"/>
		
		<!-- 1.4配置别名包 -->
		<property name="typeAliasesPackage" value="com.jt.sso.pojo"/>
	</bean>
	
	<!--2.spring为mapper生成代理对象  -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.jt.sso.mapper"/>
	</bean>

</beans>